.main {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  text-align: center;
}

@media (max-width: 1300px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}
